body {
    margin: 0;
    padding: 20px;
    background: #564848;
    font-family: ArialBlack;
}

.foto-box {
    position: absolute;
    top: 75px;
    left: 200px;
}

.foto-box img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
}

.wrapper{
  display:flex;
  align-items:center;
  gap:20px;
  max-width:800px;
  margin:40px auto;
}

.foto-profil{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #555;
  display:block;
  margin-left:200px;
  margin-top:20px;
}

.kotak-nama{
  background:#ababab;
  color:white;
  padding:0 24px;
  border-radius:20px;
  height:100px;
  width:525px;
  display:flex;
  align-items:center;
  margin-left:500px;
  margin-top:100px;
}

.kotak-nama h2{
  margin:0;
  font-size:50px;
  letter-spacing:1px;
  font-family:"arial",sans-serif;
  color:brown
}

.biodata-box {
    width: 600px;             
    border: 2px solid #333;    
    border-radius: 10px;       
    padding: 15px;             
    margin-top: 50px;          
    margin-left: 20px;      
    font-family:"arial",sans-serif;   
    background-color: #9b9b9b; 
}

.biodata-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.biodata-table {
    width: 100%;
    font-size: 20px;
}

.biodata-table td {
    padding: 5px 0;
}

.riwayat-box {
    width: 700px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    margin-left: 450px;
    font-family:"arial",sans-serif;
    background-color: #787878;
}

.riwayat-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.riwayat-table {
    width: 100%;
    font-size: 20px;
}

.riwayat-table td {
    padding: 5px 0;
}

.riwayat-box::before {
    content: "";
    position: absolute;
    bottom: -450px;
    left: -140px;

    width: 0;
    height: 0;


    border-bottom: 260px solid #000000;
    border-right: 500px solid transparent;
}

.riwayat-box::after {
    content: "";
    position: absolute;
    bottom: -450px;
    left: -100px;

    width: 0;
    height: 0;


    border-bottom: 200px solid #6e3636;
    border-right: 400px solid transparent;
}